:root {
  --baseBgColor: #fafafa;
  --baseColor: #222;
  --baseFontFamily: Helvetica Neue;
  --baseFontFamilyFallback: sans-serif;
  --baseFontSize: 1rem;
  --baseFontWeight: 400;
  --baseLineHeight: 1.5;

  --layoutMaxWidth: 72rem;
  --layoutWidth: 90%;

  --colorPrimary: #2980b9;
}

@custom-media --media-xs (min-width: 20em);
@custom-media --media-sm (min-width: 30em);
@custom-media --media-md (min-width: 40em);
@custom-media --media-lg (min-width: 60em);
