:root {
  --anchorColor: var(--colorPrimary);
  --anchorTextDecoration: none;
}

a {
  background-color: transparent;
  border: 0;
  color: var(--anchorColor);
  text-decoration: var(--anchorTextDecoration);
}
