:root {
  --audioMarginBottom: calc(var(--baseLineHeight) * 1rem);
}

audio {
  display: inline-block;
  margin-bottom: var(--audioMarginBottom);
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}
