.breadcrumbs {

}

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {

}

.breadcrumbs span {

}

.breadcrumbs strong {

}
