:root {
  --buttonBgColor: #2980b9;
  --buttonColor: #fff;
  --buttonPaddingHorizontal: 1rem;
  --buttonPaddingVertical: .25rem;
}

button {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-transform: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  background-color: var(--buttonBgColor);
  color: var(--buttonColor);
  padding: var(--buttonPaddingVertical) var(--buttonPaddingHorizontal);
}
