:root {
  --inputPaddingHorizontal: .5rem;
  --inputPaddingVertical: .25rem;

  --textareaHeight: 6rem;
}

input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

select,
textarea,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="output"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  padding: var(--inputPaddingVertical) var(--inputPaddingHorizontal);
  width: 100%;
}

textarea {
  height: var(--textareaHeight);
  max-width: 100%;
  overflow: auto;
  resize: none;
  vertical-align: top;
}
