:root {
  --listMarginBottom: calc(var(--baseLineHeight) * 1rem);
  --listMarginTop: 0;
  --listPaddingLeft: 1.25rem;

  --listListMarginTop: .5rem;
}

dl,
ol,
ul {
  margin-bottom: var(--listMarginBottom);
  margin-top: var(--listMarginTop);
  padding-left: var(--listPaddingLeft);
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin-top: var(--listListMarginTop);
}
