:root {
  --blockquoteMarginBottom: calc(var(--baseLineHeight) * 1rem);
  --blockquoteMarginTop: 0;
}

blockquote {
  display: block;
  font-style: italic;
  margin-bottom: var(--blockquoteMarginBottom);
  margin-top: var(--blockquoteMarginTop);
}

cite {
  display: block;
  font-style: normal;
}
