:root {
  --tableMarginBottom: calc(var(--baseLineHeight) * 1rem);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: var(--tableMarginBottom);
  text-align: left;
  width: 100%;
}
