:root {
  --paragraphMarginBottom: calc(var(--baseLineHeight) * 1rem);
  --paragraphMarginTop: 0;
}

address,
dfn,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

p {
  margin-bottom: var(--paragraphMarginBottom);
  margin-top: var(--paragraphMarginTop);
}

small {
  font-size: .7em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}
