:root {
  --footerBgColor: #222;
  --footerColor: #fafafa;
  --footerFontSize: .75rem;
  --footerMaxWidth: var(--layoutMaxWidth);
  --footerPaddingVertical: 1rem;
  --footerWidth: var(--layoutWidth);
}

footer {
  display: block;
  margin: 0;
  padding: 0;
}

.footer-container {
  background-color: var(--footerBgColor);
  color: var(--footerColor);
  font-size: var(--footerFontSize);
  padding-bottom: var(--footerPaddingVertical);
  padding-top: var(--footerPaddingVertical);
}

.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--footerMaxWidth);
  width: var(--footerWidth);
}
