:root {
  --mainMaxWidth: var(--layoutMaxWidth);
  --mainWidth: var(--layoutWidth);
}

main {
  display: block;
}

.main-container {

}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--mainMaxWidth);
  width: var(--mainWidth);
}
